$my-blue: rgb(32, 55, 104);
$my-orange: rgb(249, 180, 21);

.letter {
  color: #fff;
  font-size: 1.3em;
  padding: 0 10px;

  &--o {
    background-color: $my-orange;
  }

  &--r {
    background-color: $my-blue;
  }
}
